
.navbar, .navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
    background: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 0;
    color: #e7d1bc;
    font-family: 'Pacifico';
    font-size: 18px;
}

.list-group-item {
	margin: auto;
}

.loginform {
	margin-left: auto;
	margin-right: auto; 
	width: 60%;
	border:  1px solid #FAEBD7;
	padding: 3px;
}