<!doctype html>
<html>
<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/moment.js"></script> 
<script src="/static/combodate.js"></script> 
<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
{% block head %}

    <title>GET FIT</title>

{% endblock %}

</head>

<body>


Welcome 
{% if "user_id" in session %} 

    <a href="/logout">Logout</a>

    or 

    <a href="/users/{{session['user_id']}}/{{session['user_name']}}"> go to your profile </a>


	

{% else %}
    <a href="/login">Login</a> or 
    <a href="/register"> Register</a>
{% endif %} 

<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</html>