<!doctype html>
<html>
<head>
<script src="https://code.jquery.com/jquery.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
<link href="/static/css/base.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% if "user_id" in session %} 

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">RunMate</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ><a href="/">Home</a></li>
                    <li><a href="/users/{{session['user_id']}}/{{session['user_name']}}">Run</a></li>
                    <li><a href="/inbox/requests/{{ session['user_id'] }}">Inbox</a></li>
                    <li><a href="/users/profile/{{session['user_id']}}/{{session['user_name']}}">Profile</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
 
{% else %}


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">RunMate</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    
{% endif %} 

{% block head %}


    <title>Welcome</title>

{% endblock %}

</head>


{% for flash in get_flashed_messages() %}
  <div class='alert alert-success'>{{ flash }}</div>
{% endfor %}

<body>
{% block content %}
    Put your body here.
{% endblock %}
</body>
</html>