{% extends 'base.html' %}

{% block head %}
<script src="/static/homepage.js"></script>
{% endblock %}

{% block content %}

  <h1>HOME PAGE</h1>

{% if "user_id" in session and "user_name" in session %} 

	 <p> {{session.user_id}}, {{session.user_name}} is currently logged in. </p>

<!-- 	 <a href="/users/{{session['user_id']}}/{{session['user_name']}}"> go to your profile </a> --> 

{% else %}
	<p> You are not currently logged in. </p>
{% endif %} 

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">All possible runs you can go on </h4>
    <p class="list-group-item-text">Current runs happening close by: </p>
  </a>
</div>

<div class='media' id='result'>


{% endblock %}