{% extends 'base.html' %}

{% block head %}
<title> INBOX </title>
{% endblock %}

{% block content %}
<h1> Your Messages </h1>

{% if 'possible_matches' not in jinja_content %}
<ul> 
	<li> {{ jinja_content['message'] }} </li>
</ul>
{% else %}

<p> {{jinja_content['message'] }} </p>
{% for match, run_info, asker_info in jinja_content['matches'] %}
<ul>
<li> {{ asker_info.user_name }} wants to join you on the run that you created! Running at a  {{ asker_info.mile_time }} min/mile, and running for around {{ run_info.duration }} minutes <a href="/make_run/confirmation/{{match.match_id }}"> Click here to accept and send them a text! </a> or <a href="/make_run/no-thanks/{{ match.match_id}}"> decline </a></li>
</ul>
{% endfor %}


{% endif %}

{% endblock %}