{% extends 'base.html' %}
{% block content %}

<h1>Register</h1>

<form action="/register" method="POST">

	<div>
		<label>
			Prefered user name 
			<input type="text" name="user_name">
		</label>
	</div>

    <div>
        <label>
            Email
            <input type="email" name="email">
        </label>
    </div>

    <div>
        <label>
            Password
            <input type="password" name="password">
        </label>
    </div>

    <input id='details_button' type="button" value="fill in my running preferences"/>

    <div style='visibility: hidden' id="profile_details">

        <p> Great! Let's get the last details in: </p>

        <label>
            Do you know your mile time?  <br>
            I tend to run at a <input type="text" name="mile_time"> minutes per mile pace. <br>
        </label>

        <p> We can send you a text as soon as there is a match. Do you want to provide your phone number for this functionality? (if not, just leave it blank to use just your email.) </p>

        <label>
        Yes, my phone number is <input type="text" name="phone"><br>
        </label>


    <div>
        <input type="submit" value="Register">
    </div>

    </div>

    <script>

    $("#details_button").click(function(){
    $('#profile_details').css('visibility', "visible")
    });

    </script>

</form>

{% endblock %}