{% extends 'base.html' %}

{% block head %}

 	<script src="/static/js/match.js"></script>

	<title> Scheduling Run </title>

{% endblock %}

{% block content %}

	<div class="container">
	<h1> You want to run! </h1>

	<p> Awesome! Let's find you a running partner close by: </p>
	<style> 
	#map-canvas {
		height: 400px;
		margin: 3;
		padding: 0;
		width: 650px;
	}

	.hidden {
		display: none;
	}
	</style>

	<div id="map-canvas"></div>

	This is your location right now. Drag the marker to the location where you want to start your run. 

	<span id="match_data" data-duration="{{duration}}" data-wait-time="{{wait_time}}" data-scheduled="{{scheduled}}" data-date="{{date}}" data-time="{{time}}"></span>

	<div class="list-group hidden">
	  <a href="#" class="list-group-item active">

	    <p class="list-group-item-text">All possible matches 5 miles from you with similar running pace and duration</p>
	  </a>
	</div>

	<div class='media' id='result'>
	</div>

	<div id='results'><button class="btn btn-primary" id='runbutton'> Finished! </button></div> 

	</div>
{% endblock %}

