<html>
<head>
    <script src="https://code.jquery.com/jquery.js"></script>
<!-- 	// <script src="static/moment.js"></script> 
	// <script src="static/combodate.js"></script> 
 //  	<script src="static/user.js"></script> -->


  	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  	<link rel="stylesheet" href="/resources/demos/style.css">


<body>
	<h1>{{ user_name }} </h1>

	<p> This is your profile. Feel free to write down goals, put up images, or anything you feel like here. You can see people close to you that want to run and a list of past runs. If you see no one, you can always click "I want to run!" to make your own run!</p>

  <div id='pinterest'></div>

  <div id='run-list'>
   <p> Here is a list of all possible runs happening in your area </p>
   </div>
	
	<input id='runbutton' type="button" value="I want to run!"/>

	<div style='visibility: hidden' id="runningform">
		Great! let's get down your details:
		<form action="/{{user_id}}/{{user_name}}/schedule_run" method="POST">
  				<label for="amount">How long do you want to run for? (5 min increments)</label>
		    <div id="slider">
            </div>
            	<p>
  				<input type="text" id="amount" name="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
				</p>

            <label for="time_amount"> We do our best to match you asap. If you have any time constraints on the amount of time it takes for a match, please specify and we will cancel your request after that time if there is no match. </label>
            <div id="time_slider"> </div>
            <p>
            <input type="text" id="time_amount" name="time_amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
			</p>

        	<div>
            	<input type="submit" value="I'm ready to run!">
        	</div>

		</form>	
	</div>


<script>
$('#run-list')

</script>

<script>
	
	$("#runbutton").click(function(){
	$('#runningform').css('visibility', "visible")
});

  $(function() {
    $( "#slider" ).slider({
      value:30,
      min: 0,
      max: 180,
      step: 5,
      slide: function( event, ui ) {
        $( "#amount" ).val(ui.value + " min");
      }
    });
    $( "#amount" ).val($( "#slider" ).slider( "value" ) +" min" );
  });

   $(function() {
    $( "#time_slider" ).slider({
      value:30,
      min: 0,
      max: 180,
      step: 5,
      slide: function( event, ui ) {
        $( "#time_amount" ).val(ui.value + " min");
      }
    });
    $( "#time_amount" ).val($( "#time_slider" ).slider( "value" ) +" min" );
  });

</script>



</body>

</head>
</html>
